/* Genel Ayarlar */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #003366;
    line-height: 1.6;
}

h1, h2, h3 {
    color: #003366;
    margin-bottom: 10px;
}

a {
    color: #003366;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Balık Listesi Tasarımı */
#fish-list {
    max-width: 800px;
    margin: 20px auto;
    padding: 10px;
}

.fish-item {
    border: 1px solid #003366;
    background-color: #e6eefc;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.fish-item h3 {
    margin: 0;
    font-size: 1.2em;
}

.fish-item p {
    margin: 5px 0;
    font-size: 0.9em;
    color: #333;
}
.header {
  background-color: #003366;
  color: white;
  padding: 20px;
  text-align: center;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.logo {
  width: 50px;
  height: 50px;
}

.title {
  font-size: 1.5em;
  color: white;
}
.footer {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
    position: fixed;  /* Sabit position */
    bottom: 0;        /* Ekranın alt kısmına sabitle */
    left: 0;          /* Sol kenara sabitle */
    z-index: 1000;    /* Diğer içeriklerin üstünde görünmesini sağla */
}
/* Düğme Tasarımı */
button {
    font-size: 0.9em;
    padding: 8px 12px;
    margin-top: 5px;
    color: white;
    background-color: #003366;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #002244;
}

/* Düzenleme Formu */
#edit-form-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 15px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 8px;
    display: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#edit-form-container h3 {
    margin-top: 0;
    font-size: 1.2em;
}

#edit-form-container label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: #003366;
}

#edit-form-container input, 
#edit-form-container textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 0.9em;
}

#edit-form-container button {
    margin-top: 10px;
}
